*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    height: 650px;
    background-image: url(itadori.jpg);
    background-size: cover;
}
.navdiv{
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 5px;
    margin: 0px 40px 0px 40px;
}
.navlogo{
    height: 50px;
    width: auto;
    align-items: center;
    color: white;
    display: flex;
    padding: 10px;
}
.logo{
    height: 40px;
    width: 40px;
    background-image: url(neko.png);
    background-size: cover;
}
.navlinks{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 30px;
}
.navlinks a{
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px;
    display: inline-block;
    transition: all;
    transition-duration: 0.8s ;
}
.navlinks a:hover{
    border: 2px solid white;
    border-radius: 5px;
    transform: scale(1.1);
}

/** text on nav **/

