header
{
    display:block;
    background: lightgrey;
    padding: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
header span
{
    display: inline;
    color: red;
}
.inlineblock ul
{
    list-style: none;
    padding: 0;
}
.inlineblock li
{
    display: inline-block;
    margin-right: 10px;
}
.inlineblock a
{
    text-decoration: none;
    padding: 5px;
    background: lightblue;
}

.float ul
{
    list-style: none;
    padding: 0;
}
.float li
{
    float: left;
    margin-right: 10px;
}
.float a
{
    text-decoration: none;
    padding: 5px;
    background: lightgreen;
}

.clear
{
    clear: both;
}