
       table {
        border-radius: 10px;
        border-color: black;
        background-color: skyblue;
        
    }
    tr{
        background-color: whitesmoke;
        border-radius: 10px;
        
        
    }
    th{
        border-radius: 10px;
        border-width: 4px;
        background-color: rgb(243, 243, 128);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
    td{
        border-radius: 10px;
        border-width: 2px;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
    tr :hover{
        background-color: yellow;
        cursor: pointer;
    }